@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .custom-shadow-sm{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .custom-shadow-md{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .custom-shadow-lg{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}